.success-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: 'Segoe UI', sans-serif;
    gap: 10px;
    width: fit-content;
    margin: 10px auto;
}

.tick , .cut{
    font-size: 24px;
    font-weight: bold;
}
.message {
    font-size: 18px;
}
